.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* test css */

.our-story-card {
  background: transparent;
  border-bottom: 8px solid #222;
  color: #fff;
  margin-bottom: 0;
  padding: 50px 5%;
  position: relative;
}
.animation-card ,.animation-card-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1100px;
}
.animation-card.watchOnTv, .our-story-card-text {
  margin: -5% 0;
}

.animation-card, .our-story-card-text {
  flex: 0 1 auto;
  height: 100%;
  padding: 0 3rem 0 0;
  width: 52%;
  z-index: 3;
}
.our-story-card-subtitle, .our-story-card-text {
  font-size: 1.625rem;
  font-weight: 400;
}

.animation-card, .our-story-card-img-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  height: 100%;
  width: 48%;
}

.animation-card.watchOnTv ,.our-story-card-animation-container {
  margin: -10% -5% -5% 0;
}
.animation-card ,.our-story-card-animation-container {
  overflow: hidden;
  position: relative;
}

.animation-card,.watchOnDevice ,.our-story-card-img, .animation-card.watchOnTv .our-story-card-img {
  position: relative;
  z-index: 2;
}



.animation-card.watchOnTv ,.our-story-card-animation {
  height: 100%;
  left: 50%;
  max-height: 54%;
  max-width: 73%;
  position: absolute;
  top: 46%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.animation-card.watchOnDevice ,.our-story-card-video, .animation-card.watchOnTv, .our-story-card-video {
  height: 100%;
  width: 100%;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}


#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
